<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nitesh Nagar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <script src="https://kit.fontawesome.com/2acdadc9be.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <header class="header">
            <!-- Logo -->
            <!-- <a href="#" class="logo">LR</a> -->
            <img class="logo" src="/images/logo/Nitesh nagar-logos_white.png" alt="" srcset="">
            <!-- Hamburger icon -->
            <input class="side-menu" type="checkbox" id="side-menu" />
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
            <!-- Menu -->
            <nav class="nav">
                <ul class="menu">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/About">About</a> </li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="/Project">Project's</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Log-in</a></li>
                </ul>
            </nav>
        </header>
        <section id="about-me-l">
            <div class="topic-h">
                <h1>About Me</h1>
            </div>
            <div class="sub-h">
                <h3>I am Nitesh Nagar And <span class="web">Web Developer</span></h3>
                <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab minus reiciendis a eveniet cumque aliquid debitis pariatur rerum suscipit officiis tempore delectus aut, molestiae ad nesciunt! Amet dignissimos ut temporibus!</p>
            </div>
            <div class="sub-box">
                <div class="sub-box-1">
                    <h3>Birthday: <span class="input">&nbsp;11-April-2022</span></h3>
                    <div class="view">.</div>
                    <h3>Website: <span class="input">&nbsp;www.domain.com</span></h3>
                    <div class="view">.</div>
                    <h3>Digree: <span class="input">&nbsp;B.Tech (CSE)</span></h3>
                    <div class="view">.</div>
                    <h3>City: <span class="input">&nbsp;Bhopal (M.P.)</span></h3>
                </div>
                <div class="sub-box-2">
                    <h3>Age: <span class="input">&nbsp;20 Years</span></h3>
                    <div class="view">.</div>
                    <h3>Email: <span class="input">&nbsp;niteshnagar1142002@gmail.com</span></h3>
                    <div class="view">.</div>
                    <h3>Phone: <span class="input">&nbsp;+91&nbsp;7693953346</span></h3>
                    <div class="view">.</div>
                    <h3>Freelance: <span class="input">&nbsp;Available</span></h3>
                </div>
            </div>
            <div class="skills">
                <div class="html">
                    <div class="language">
                        <h3>HTML</h3>
                        <h3>90%</h3>
                    </div>
                    <div class="status">
                        <div class="success htm-l"></div>
                    </div>
                </div>
                <div class="html">
                    <div class="language">
                        <h3>CSS</h3>
                        <h3>80%</h3>
                    </div>
                    <div class="status">
                        <div class="success css"></div>
                    </div>
                </div>
                <div class="html">
                    <div class="language">
                        <h3>JS</h3>
                        <h3>70%</h3>
                    </div>
                    <div class="status">
                        <div class="success js"></div>
                    </div>
                </div>
                <div class="html">
                    <div class="language">
                        <h3>C</h3>
                        <h3>60%</h3>
                    </div>
                    <div class="status">
                        <div class="success c"></div>
                    </div>
                    <div class="html">
                        <div class="language">
                            <h3>C++</h3>
                            <h3>60%</h3>
                        </div>
                        <div class="status">
                            <div class="success cpp"></div>
                        </div>
                    </div>
                    <div class="html">
                        <div class="language">
                            <h3>C#</h3>
                            <h3>70%</h3>
                        </div>
                        <div class="status">
                            <div class="success c-sharp"></div>
                        </div>
                    </div>
                    <a href="#" class="cv">Downloade CV</a>
                </div>
            </div>
        </section>
        <div class="blank"></div>
        <section class="sucess-status">
            <div class="education">
                <h1>Education</h1>
                <div class="main-box">
                    <div class="sub-box-1">
                        <div class="dot1"></div>
                        <div class="dot1-line"></div>
                        <div class="dot2"></div>
                    </div>
                    <div class="sub-box-2">
                        <div class="date">
                            <h3>11-April-2022</h3>
                        </div>
                        <div class="ex-heading">
                            <h3>Maters in Computer Science</h3>
                        </div>
                        <div class="ex-detail">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus fuga vero assumenda officia temporibus facere repellendus rem maxime error! Minima.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eligendi, commodi quod tenetur illum ipsam? Quae natus aperiam commodi cupiditate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-box m">
                    <div class="sub-box-1">
                        <div class="dot1-line"></div>
                        <div class="dot2"></div>
                    </div>
                    <div class="sub-box-2">
                        <div class="date">
                            <h3>11-April-2022</h3>
                        </div>
                        <div class="ex-heading">
                            <h3>Maters in Computer Science</h3>
                        </div>
                        <div class="ex-detail">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus fuga vero assumenda officia temporibus facere repellendus rem maxime error! Minima.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eligendi, commodi quod tenetur illum ipsam? Quae natus aperiam commodi cupiditate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expiriance">
                <h1>Experiance</h1>
                <div class="main-box">
                    <div class="sub-box-1">
                        <div class="dot1"></div>
                        <div class="dot1-line"></div>
                        <div class="dot2"></div>
                    </div>
                    <div class="sub-box-2">
                        <div class="date">
                            <h3>11-April-2022</h3>
                        </div>
                        <div class="ex-heading">
                            <h3>Maters in Computer Science</h3>
                        </div>
                        <div class="ex-detail">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus fuga vero assumenda officia temporibus facere repellendus rem maxime error! Minima.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eligendi, commodi quod tenetur illum ipsam? Quae natus aperiam commodi cupiditate.
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="main-box m">
                    <div class="sub-box-1">
                        <!-- <div class="dot1"></div> -->
                        <div class="dot1-line"></div>
                        <div class="dot2"></div>
                    </div>
                    <div class="sub-box-2">
                        <div class="date">
                            <h3>11-April-2022</h3>
                        </div>
                        <div class="ex-heading">
                            <h3>Maters in Computer Science</h3>
                        </div>
                        <div class="ex-detail">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus fuga vero assumenda officia temporibus facere repellendus rem maxime error! Minima.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eligendi, commodi quod tenetur illum ipsam? Quae natus aperiam commodi cupiditate.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <div class="blank"></div>
        <section class="have-a-question">
            <div class="top-heading">
                <h1>Have You Any Question ?</h1>
                <h3>i'm At Your Service</h3>

            </div>
            <div class="full-details">
                <div class="mobile">
                    <i class="fa fa-phone"></i>
                    <h3>Call Us On</h3>
                    <p>+91&nbsp;7693953346</p>
                    
                </div>
                <div class="location">
                    <i class="fa fa-map"></i>
                    <h3>Location</h3>
                    <p>12/07 pipal choraha karond Bhopal (M.P.)</p>
                </div>
                <div class="email">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p>niteshnagar1142002@gmail.com</p>
                    <p>niteshnagar1142002@outlook.com</p>
                </div>
                <div class="web-p">
                    <i class="fa fa-solid fa-globe"></i>
                    <h3>Website</h3>
                    <p>www.domain.com</p>
                </div>
            </div>
        </section>
        <div class="blank"></div>
        <footer>
            <div class="footer-content">
                <!--add all information -->
                <img class="f-logo" src="/images/logo/Nitesh nagar-logos_white.png" alt="" srcset="">
                <h3 class="f-h3">Full Stack Developer</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, asperiores quia repudiandae neque
                    ipsum consectetur quidem accusamus modi ipsa dolorum dicta eligendi adipisci sint, nostrum eveniet
                    aperiam at autem corrupti!</p>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
                <div class="footer-bottom">
                    <!-- add all information -->
                    <p>copyright &copy;2023 <a href="#">nite_shnagar</a> </p>
                    <div class="footer-menu">
                        <ul class="f-menu">
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="./style.js"></script>
</body>

</html>