<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Jorden Animation</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/air.css">
</head>

<body>
    <div class="main">

        <div class="loader" style="background-color: red;">
            <img src="./nike-removebg-preview.png" alt="" srcset="">
        </div>

        <div class="nav">
            <img src="/images/air/nike-removebg-preview.png" alt="">
            <div class="links">
                <h4>newreleases</h4>
                <h4>men</h4>
                <h4>woman</h4>
                <h4>kids</h4>
                <h4>customize</h4>
            </div>
            <div class="icon-s">
                <i class="ri-search-line"></i>
                <h5>search</h5>
            </div>
            <i class="ri-shopping-cart-line"></i>
        </div>
        <img class="prImg" src="/images/air/My project.png" alt="">
        <div class="box-1">
            <code>
                <span id="fee" class="fee">$225</span> <br>
                <span class="name">Air jordan 6<br>retro sP</span>
                <div class="stars">
                    <img src="/images/air/star.png" alt="">
                    <img src="/images/air/star.png" alt="">
                    <img src="/images/air/star.png" alt="">
                    <img src="/images/air/star.png" alt="">
                </div>
                <span class="pree">
                    originally released the year MJ won his first <br>
                    professional championship the Air jordan 6 <br>
                    Retro SP features a sculpted midsole for <br>
                    cushioned stability, overlays designed to <br>
                    abstractly depict the number of 23.
                </span> <br>
                <button>Add to Card</button>
            </code>
            <div class="card">
                <img src="/images/[removal.ai]_tmp-635227546a6b1.png" alt="">
                <span class="User">nite_shnagar</span>
                <div class="icon-s">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-twitter-fill"></i>
                    <i class="ri-youtube-fill"></i>
                </div>
            </div>
        </div>
        <div class="box-2">
            <code>
                <i class="ri-play-fill"></i>
            <span>
                <h5>watch</h5>
                <h4>trailer</h4>
            </span>
            </code>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/air.js"></script>
</body>

</html>