<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nitesh Nagar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <script src="https://kit.fontawesome.com/2acdadc9be.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <header class="header">
            <!-- Logo -->
            <!-- <a href="#" class="logo">LR</a> -->
            <img class="logo" src="/images/logo/Nitesh nagar-logos_white.png" alt="" srcset="">
            <!-- Hamburger icon -->
            <input class="side-menu" type="checkbox" id="side-menu" />
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
            <!-- Menu -->
            <nav class="nav">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a> </li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="/project">Project's</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Log-in</a></li>
                </ul>
            </nav>
        </header>
        <section class="have-a-question">
            <div class="top-heading">
                <h1>Have You Any Question ?</h1>
                <h3>i'm At Your Service</h3>

            </div>
            <div class="full-details">
                <div class="mobile">
                    <i class="fa fa-phone"></i>
                    <h3>Call Us On</h3>
                    <p>+91&nbsp;7693953346</p>
                    
                </div>
                <div class="location">
                    <i class="fa fa-map"></i>
                    <h3>Location</h3>
                    <p>12/07 pipal choraha karond Bhopal (M.P.)</p>
                </div>
                <div class="email">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p>niteshnagar1142002@gmail.com</p>
                    <p>niteshnagar1142002@outlook.com</p>
                </div>
                <div class="web-p">
                    <i class="fa fa-solid fa-globe"></i>
                    <h3>Website</h3>
                    <p>www.domain.com</p>
                </div>
            </div>
        </section>
        <div class="blank"></div>
        <section class="contact">
            <div class="contact-heading">
                <h3>Send Me an Email</h3>
            </div>
            <div class="contact-sub-heading">
                <h3>i'm very responsive to message</h3>
            </div>
            <form action="#" method="post" class="contact-form">
                <div class="name-input">
                <input class="name" type="text" placeholder="Enter Your Name">
                <input class="lname" type="text" placeholder="      Last Name">
                </div>
                <input class="subject" type="text" placeholder="      Subject">
                <textarea name="lol" id="message" cols="30" placeholder="Message" rows="10"></textarea>
                <button class="sent">Send Message</button>
            </form>
        </section>
        
        
        <div class="blank"></div>
        <footer>
            <div class="footer-content">
                <!--add all information -->
                <img class="f-logo" src="/images/logo/Nitesh nagar-logos_white.png" alt="" srcset="">
                <h3 class="f-h3">Full Stack Developer</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, asperiores quia repudiandae neque
                    ipsum consectetur quidem accusamus modi ipsa dolorum dicta eligendi adipisci sint, nostrum eveniet
                    aperiam at autem corrupti!</p>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
                <div class="footer-bottom">
                    <!-- add all information -->
                    <p>copyright &copy;2023 <a href="#">nite_shnagar</a> </p>
                    <div class="footer-menu">
                        <ul class="f-menu">
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="./style.js"></script>
</body>

</html>